 
.Content {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: solid black 1px;
    overflow-y: scroll;
}
.Content::-webkit-scrollbar { display: none; }
.Category {
    display: grid;
    grid-template-rows: 30px min-content;
    gap: 5px;
    margin: 5px;
}

.Topics {
    border: solid black 1px;
    height: 200px;
    padding: 5px;
    display: grid;
    grid-template-rows: 30px auto 30px;
}
.catName {
    border: solid black 1px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
  }
  .Search {
      border: none;
      border-bottom: solid black 1px;
      outline: none;
      text-transform: uppercase;
  }
  .Pagination {
      border-top: solid black 1px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 5px;
      padding-top: 5px;
  }
  .Topic {
      background-color: dodgerblue;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
  }
  .Topic:nth-child(even) {
      background-color: grey;
  }
  .box {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
  }

  .btn {
      background-color: green;
      border: none;
      color: white;
      outline: none;
      cursor: pointer;
  }
  .btnDisabled {
      background-color: red;
  }

  .eye {
      border: solid black 1px;
      color: green;
      cursor: pointer;
      width: 30px;
  }
  .red {
      color: red;
  }

  .noContent {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: red;
  }
  
  .name {
      margin-left: 5px;
  }
  .aButton {
      height: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: white;
      outline: none;
      text-transform: uppercase;
  }
  .aButton:hover {
      background-color: green;
  }

  .btnGroup {
      height: 100%;
  }

  .aInput {
      color: white;
      border: solid black 1px;
      padding-left: 5px;
      background-color: transparent;
      outline: none;
  }

  .addGroup {
      border: solid black 1px;
      height: 50px;
      margin: 5px;
      padding: 5px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
  }

  .group {
      border: solid black 1px;
      text-transform: uppercase;
      padding: 5px;
      cursor: pointer;
  }

  .disabled {
      background-color: red;
      color: white;
  }

  .selected {
    border: solid black 1px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }